@font-face {
	src: url("roboto/Roboto-Regular.ttf"), url("roboto/Roboto-Bold.ttf");
}

.root {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button {
	-fx-cursor: hand;
}

.border-grid {
	-fx-border-width: 1.0px;
	-fx-border-color: #aaa;
	-fx-border-insets: -1.0 10.0 10.0 10.0;
	-fx-border-radius: 0.0 10.0 10.0 10.0;
  	-fx-background-radius: 0.0 10.0 10.0 10.0;
  	-fx-background-color: #ededed;
  	-fx-background-insets: -1.0 10.0 10.0 10.0;
  	-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);  
}

.form-grid {
	-fx-padding: 10.0px;
}

.action-btn {
	-fx-pref-height: 40.0px;
}

.ribbon-bar {
	-fx-padding: 8.0px;
	-fx-background-color: #fafafa;
	-fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: 
        transparent
        transparent
        black 
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
}

.ribbon-bar .button {
	-fx-background-color: #fafafa;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
	-fx-border-radius: 0.0 0.0 0.0 0.0;
    -fx-text-fill: black;
}


.ribbon-bar .button:hover {
    -fx-background-color: #D3EBFF;
    -fx-border-color: #8AC9FF;
    -fx-border-width: 1.0;
}

.delete-button:hover {
	-fx-background-color: #ffaaaa !important;
    -fx-border-color: red !important;
    -fx-border-width: 2.0;	
}